# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
duckdb
astro-sdk-python[duckdb]
pandas
fsspec
s3fs==2023.3.0
aiobotocore==2.4.2